/**
 * Variables here
 */

$font-size	  		        : 16px;
$font		  	 	        : '';
$border-radius	 	        : 2px;
$shadow                     : 0 1px 1px rgba(0, 0, 0, .5);
$animation-duration         : .15s;

$small-space                : 32px;
$medium-space               : $small-space * 2;
$large-space                : $small-space * 4;

$red                        : #FF0000;
$green                      : #00FF00;
$blue                       : #0000FF;

$border-color               : #CCC;