/**
 * Variables here
 */

$font-size	  		        : 16px;
$font		  	 	        : 'Roboto', sans-serif;
$border-radius	 	        : 2px;
$shadow                     : 0 2px 1px rgba(0, 0, 0, .2);
$animation-duration         : .15s;

$mini-space                 : 16px;
$small-space                : $mini-space * 2;
$medium-space               : $mini-space * 4;
$large-space                : $mini-space * 8;

$red                     	: #E44A4C;
$grey                       : #E9E9E9;